.sideMenu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 2rem 1rem;

  background: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .sideMenu {
    width: 60px;
  }
}

@media (max-width: 800px){
  .sideMenu {
    position: fixed;
    left: initial;
    top: 10;
    right: 0;
    width: 50px;
    height: 50px;
  }

  .sideMenu svg {
    width: 32px;
  }

  .sideMenu nav * {
    display: none;
  }

  .sideMenu .signOut {
    display: none;
  }

  .mobileActive {
    height: 100vh;
  }

  .mobileActive nav * {
    display: block;
  }

  .mobileActive .signOut {
    display: block;
  }
}

.sideMenu nav {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  position: relative;
}

.sideMenu nav div {
  position: relative;
}

.sideMenu nav div.active::before {
  content: '';
  height: 56px;
  width: 4px;
  display: block;
  background: var(--blue);
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}

.sideMenu nav div + div {
  margin-top: 4rem;
}

.sideMenu nav svg {
  color: var(--text);
}

.sideMenu nav div.active svg {
 color: var(--blue);
}

.sideMenu button {
  border: 0;
  background: 0;

  display: flex;
  align-items: center;

  color: var(--blue);

  font-size: 0.875rem;

  transition: color 0.2s;
}

@media (max-width: 1200px) {
  .sideMenu button {
    flex-direction: column;
  }
  .sideMenu nav div.active::before {
    left: -14px;
  }
}

@media (max-width: 800px) {
  .sideMenu nav div.active::before {
    /* display: none; */
    border-radius: 5px 0px 0px 5px;
    left: initial;
    right: -9px;
  }
}

.sideMenu button:hover {
  color: var(--red);
}

.sideMenu button svg {
  margin-right: 0.5rem;
}
